 
 .container.tarihce{
	color:black;	 
 }
 
   
  hr{width:85%;margin-left:7%;margin-bottom:1em;margin-top:1em;}
 
 
 #baslik h2{
	 color:#006666;
	 text-shadow: 3px 2px 1px #7F7F7F;
	 padding-top:30px;
	 
	 
 }
 
 
 #bak{
	 border:2px;
	 
 }
